<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px" id="home">
<h1 class="w3-jumbo"><b>Welcome Back!</b></h1>
<h5>_____________________________________________________________</h5><br>
<h5></h5><br>
<form action="/login" method="POST" id="signupform">
  <h3 class=".w3-xlarge">Username</h3>
  <h3 class=".w3-xlarge"><input class ="input" type="text" id="username" name="username"></h3><br>
    <br>
  <h3 class=".w3-xlarge">Password</h3>
  <h3 class=".w3-xlarge"><input class ="input" type="password" id="password" name="password"></h3>
  <br>
</form>
<br>
<button type="submit" form="signupform" value="Log In"class="w3-button w3-light-grey w3-padding-large w3-margin-top "> Login </button>

