<!-- Styling -->

<style>
    .bgimg { background-image: url("images/plant_dead.png"); }
</style>

<!-- Header -->

<header class="w3-container w3-center" style="padding:128px 16px" id="home">

  <h1 class="w3-jumbo"><b>Oh no!</b></h1>

  <h3>You killed your plant</h3>

  <h3><a href="dead/new" target="_parent"><button class="w3-button w3-light-grey w3-padding-large w3-margin-top"> Start Over? </button></a><h3>

</header>
