<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px" id="home">

  <h1 class="w3-jumbo"><b>Pointlessly Philisophical Pot Plants</b></h1><br>
  <h2 class="w3-text-grey">A Sinatra Project</h2><br>

  <hr style="height:100px; visibility:hidden;" />

    <h1><a href="/login" target="_parent"><button class="w3-button w3-light-grey w3-padding-large w3-margin-top"> Login </button></a>
    <a href="/signup" target="_parent"><button class="w3-button w3-light-grey w3-padding-large w3-margin-top"> Signup </button></a><h1>

</header>

<hr style="height:50px; visibility:hidden;" />


<!-- About Section -->
<div class="w3-content w3-justify w3-text-grey" id="about">
  <hr class="w3-opacity">
  <img src="images/instructions.png" class="w3-image" style="width:100%;margin:32px 0">
<!-- End About Section -->
</div>


<!-- 
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">

  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>

</footer>
